.handlebarsEditor {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.editorArea {
    margin-left: 8px;
    margin-right: 8px;
}

.previewerArea {
    margin-right: 8px;
}